h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 30px;
}
body {
    background-color: rgba(79, 194, 240, 0.6);
    font-family: sans-serif;
    font-size: 14px;
}

a {
    text-decoration: wavy;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}
a:active {
    text-decoration: wavy;
    color: gray;
    font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:hover {
    text-decoration: wavy;
    color: gray;
    font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: transform 0.25s ease, color 0.25s ease;
    transform: scale(1.5);
}
