h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 30px;
}
body {
    background-color: rgba(79, 194, 240, 0.6);
}

a {
    text-decoration: wavy;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:active {
    text-decoration: wavy;
    color: gray;
    font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}